################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Aplikacja/server/PracaNaGodziny/.vs
/Aplikacja/server/PracaNaGodziny/Clients.Tests/obj/Debug/netcoreapp2.0/Clients.Tests.csprojResolveAssemblyReference.cache
/Aplikacja/server/PracaNaGodziny/Notifications.Services/obj/Debug/netcoreapp2.0/Notifications.Services.csprojResolveAssemblyReference.cache
