<mat-card class="example-card">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
   {{worker.firstName}} {{worker.lastName}}
  </mat-card-content>
</mat-card>
<div class="czips">
<mat-chip-list *ngIf="isInLocation == false &&worker.wage > 0">
    <mat-chip color="warn">{{worker.wage}}zł</mat-chip>
  </mat-chip-list>
  <mat-chip-list *ngIf="isInLocation == true">
    <mat-chip color="primary">{{worker.totalHour}} h</mat-chip>
  </mat-chip-list>
</div>