<mat-card class="example-card">
  <img mat-card-image src="https://v.wpimg.pl/Mzc2NzY2JBNMfWFMbQY1TlsAYR53RT0TDlVgCjUdfE1TBHxLbQF_Tk4ff0NvA3VJWgN3S3ZQKAkIWypXLks-CgxFN1QzQio=" alt="Photo of a Shiba Inu">
  <mat-card-content style="margin-left: 20px;">
   {{location.name}}
   <br>
   <span style="color:#4d4d4d;font-size: 12px"> Przepracowane godziny: <strong>{{location.totalHour}}</strong></span>
   <br>
   <span style="color:#4d4d4d;font-size: 12px"> Należność pracowników: <strong>{{location.totalWage}} zł</strong></span>
  
  </mat-card-content>
</mat-card>