/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    margin: 0!important;
}

.bigButton{
    width: 150px;
    margin: 7px!important;
    height:45px;
}
.example-header-image{
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.spinner-center{
   position: relative;
   left: 34%;
   bottom: -150px!important;
}